In [8]:
str1='abcd'
str2='wxyz'
str1new=str2[:2]+str1[2:4]
str2new=str1[:2]+str2[2:0]
print(f'{str1new=}', f'{str2new=}',sep='\n')

str1new='wxcd'
str2new='ab'

In [12]:
9%4

1

In [13]:
"""
使用type()检查变量的类型

Version: 0.1
Author: 骆昊
"""
a = 100
b = 12.345
c = 1 + 5j
d = 'hello, world'
e = True
print(type(a))    # <class 'int'>
print(type(b))    # <class 'float'>
print(type(c))    # <class 'complex'>
print(type(d))    # <class 'str'>
print(type(e))    # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [15]:
a = int(input('a = '))
b = int(input('b = '))
print('%d + %d = %d' % (a, b, a + b))
print('%d - %d = %d' % (a, b, a - b))
print('%d * %d = %d' % (a, b, a * b))
print('%d / %d = %f' % (a, b, a / b))
print('%d // %d = %d' % (a, b, a // b))
print('%d %% %d = %d' % (a, b, a % b))
print('%d ** %d = %d' % (a, b, a ** b))

5 + 6 = 11
5 - 6 = -1
5 * 6 = 30
5 / 6 = 0.833333
5 // 6 = 0
5 % 6 = 5
5 ** 6 = 15625

In [16]:
"""
比较运算符和逻辑运算符的使用

Version: 0.1
Author: 骆昊
"""
flag0 = 1 == 1
flag1 = 3 > 2
flag2 = 2 < 1
flag3 = flag1 and flag2
flag4 = flag1 or flag2
flag5 = not (1 != 2)
print('flag0 =', flag0)    # flag0 = True
print('flag1 =', flag1)    # flag1 = True
print('flag2 =', flag2)    # flag2 = False
print('flag3 =', flag3)    # flag3 = False
print('flag4 =', flag4)    # flag4 = True
print('flag5 =', flag5)    # flag5 = False

flag0 = True
flag1 = True
flag2 = False
flag3 = False
flag4 = True
flag5 = False

In [17]:
f = float(input('请输入华氏度'))
c = (f-32)/1.8
print('%.1f华氏度 = %.1f摄氏度' %(f,c))

88.0华氏度 = 31.1摄氏度

In [4]:
year = int(input("please input years"))
days = year * 365
hours = days * 24
minutes = hours * 60
seconds = minutes * 60
to_list = [days,hours,minutes,seconds]
for i in range(0,4):
    print(f"{year} years equivalent to {to_list[i]} {['days','hours','minutes','seconds'][i]}")

2 years equivalent to 730 days
2 years equivalent to 17520 hours
2 years equivalent to 1051200 minutes
2 years equivalent to 63072000 seconds

In [9]:
seconds = int(input("please input seconds"))
second = seconds % 60
minutes = seconds // 60 % 60
hours = (seconds // 3600) % 24
days = seconds // (3600 * 24)
print("%d seconds are equal to %d days, %d hours, %d minutes and %d seconds" % (seconds, days, hours, minutes, second))

1000000 seconds are equal to 11 days, 13 hours, 46 minutes and 40 seconds

In [26]:
import random
mylist = [1,3,5,7,9]

[4, 3, 2, 1]

In [32]:
s = "Men"
sand = 0 if len(s) % 2==0 else 1
print(sand)

1

In [35]:
N = 2209534
p = N % 10
q = N // 10 % 10
Nand = 0 if (p + q) % 2 == 0 else 1
print(Nand)

1

In [39]:
list1 = [1,2,3,4,5]
list2 = list1.copy()
list3 = list1[:]
list4 = list1
print(list1,list2,list3,list4,sep='\n')
print(id(list1),id(list2),id(list3),id(list4),sep='\n')

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
2184068785984
2184078470208
2184078469376
2184068785984

In [42]:
list1 = [17, 3, 12, 9, 10] 
list1.sort() 
print("Spread:", list1[-1] - list1[0])

Spread: 14

In [45]:
print('a+b' < 'b+a')

True

TypeError: vars() argument must have __dict__ attribute

In [47]:
for i in range(3, 7): 
    print(2 * i)

6
8
10
12

In [49]:
def main(): 
    num = 5 
    triple(num) 
    print(num) 
def triple(num): 
    num = 3 * num 
main()

5

In [50]:
list1 = 'h'+ 'o'+ 'n'+ 'P'+ 'y'+ 't' 
list2 = list1[3:] + list1[:3] 
print(list2)

Python

In [51]:
def main(): 
    print(f (5)) 
def f (n): 
    if n == 1: 
        return 1 
    else: 
        return n * f (n - 1)
main()

120

In [52]:
var = "mur" 
var += 2 * var 
print(var)

murmurmur

The following steps calculate the price of an item after a 30% reduction. \
(a) Create the variable price and assign it the value 19.95. \
(b) Create the variable discountPercent and assign it the value 30. \
(c) Create the variable markdown and assign it the value of (discountPercent divided 
by 100) times the value of price. \
(d) Decrease the value of price by markdown. \
(e) Display the value of price.

In [53]:
price = 19.95
discountPercent = 30
markdown = discountPercent * price / 100
price -= markdown
print(price)

13.965

Write a program to answer the question:  
When you borrow money to buy a house or a car, the loan is paid off with a sequence of 
equal monthly payments with a stated annual interest rate compounded monthly. The amount 
borrowed is called the principal. If the annual interest rate is 6% (or .06), then the monthly 
interest rate is .06/12 = .005. At any time, the balance of the loan is the amount still owed. 
The balance at the end of each month is calculated as the balance at the end of the previous 
month, plus the interest due on that balance, and minus the monthly payment. For instance, 
with an annual interest rate of 6%, 
[new balance] = [previous balance] + .005 # [previous balance] - [monthly payment] 
= 1.005 # [previous balance] - [monthly payment]. 
Suppose you borrow $15,000 to buy a new car at 6% interest compounded monthly and your 
monthly payment is $290.00. After how many months will the car be half paid off? That is, 
after how many months will the balance be less than half the amount borrowed? See Fig. 1 
for a sample run. 
fig. 1:
Loan will be half paid off after 33 months.

In [54]:
def months_to_half_paid(principal, annual_interest_rate, monthly_payment):
    monthly_interest_rate = annual_interest_rate / 12
    balance = principal
    months = 0
    half_principal = principal / 2

    while balance > half_principal:
        balance = balance * (1 + monthly_interest_rate) - monthly_payment
        months += 1

    return months

# Parameters
principal = 15000
annual_interest_rate = 0.06
monthly_payment = 290.00

# Calculate months to half paid
months = months_to_half_paid(principal, annual_interest_rate, monthly_payment)

print(f"Loan will be half paid off after {months} months.")

Loan will be half paid off after 33 months.

In [55]:
def year_population_surpasses(china_population, china_growth_rate, india_population, india_growth_rate, start_year):
    year = start_year
    while india_population <= china_population:
        china_population *= (1 + china_growth_rate)
        india_population *= (1 + india_growth_rate)
        year += 1
    return year

# Parameters
china_population_2014 = 1.37  # in billions
china_growth_rate = 0.0051    # 0.51% per year
india_population_2014 = 1.26  # in billions
india_growth_rate = 0.0135    # 1.35% per year
start_year = 2014

# Calculate the year when India's population surpasses China's population
year = year_population_surpasses(china_population_2014, china_growth_rate, india_population_2014, india_growth_rate, start_year)

print(f"India's population will exceed China's population in the year {year}.")

India's population will exceed China's population in the year 2025.